 .download-btn {
     /* background-color: blue; */
     background-color: #157cfc;
     margin-top: 1.3rem;
     padding: 1em 2.8em;
     height: 3.2rem;
     width: 10rem;
     text-decoration: none;
     border-radius: 6px;
     box-sizing: border-box;
     color: white !important;
 }

 input[type="file"] {
     display: none;
 }

 .custom-file-upload {
     background-color: #157cfc;
     color: white !important;
     border-radius: 6px;
     border: 1px solid #ccc;
     display: inline-block;
     padding: 6px 12px;
     cursor: pointer;
 }